.barBackground {
    background-color: #C15D57;
    width: 100%;
    height: .7rem;
    border-radius: .2rem;
}

.barContainer {
    height: auto;
    width: 100%;
    text-align: center;
    margin: 5px 0 10px;
}

.barContainer p {
    margin: .3rem;
}


