.todo {
    display: flex;
    flex-direction: row;
    width: 40%;
    position: relative;
}

.deleteBtn {
    height: 18px;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: 16px;
}

p {
    overflow-wrap: break-word;
    background-color: sandybrown;
    width: 100%;
}