#addBtn {
    display: block;
    margin: .5rem 0;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 220px;
}

textarea {
    height: 100px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5rem;
    outline: none;
    border: none;
    border-radius: 5px;
}